html, body {
    background-color: rgb(41, 45, 51);
    font-size: 22px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: white;
}
h1 {
    font-weight: 900;
    font-size: 2rem;
}
img {
    width: 100%;
    max-height: 800px;
}
article {
    font-style: italic;
    margin-bottom: 8%;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.left {
  flex: 0 0 500px;
  margin-right: 65px;
  margin-left: 200px;
}
.right {
  flex: 1;
  max-width: calc(100% - 520px);
  max-width: 750px;
}

.wrap::after {
    content: "";
    display: block;
    clear: both;
}
.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  margin: 4% 0px;
}

.accordion-header {
  background-color: rgb(41, 45, 51);
  padding: 10px 0px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  border-bottom: 1px solid rgb(85, 92, 102);
}

.accordion-header i {
  position: absolute;
  top: 50%;
  right: 10px;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-content.active {
    display: block;
}

@media screen and (max-width: 1000px) {
    .left {
        margin-left: 0px;
    }
}

@media screen and (max-width: 750px) {
    .left {
        margin-right: 10px;
    }
}